@model Financas.Models.UsuarioModel

@{
    ViewBag.Title = "Cadastrar usuário";
}

<h2>Novo usuário</h2>
<div class="ui form">
    @using (@Html.BeginForm("Adiciona", "Usuario", FormMethod.Post))
    {
        @Html.ValidationMessage("usuario.Invalido")

            <div class="field">
                @Html.LabelFor(u => u.Nome, "Nome")
                @Html.TextBoxFor(u => u.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.Nome)
            </div>
            
            <div class="field">
                @Html.LabelFor(u => u.Email)
                @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.Email)
            </div>

            <div class="field">
                @Html.LabelFor(u => u.Senha)
                @Html.PasswordFor(u => u.Senha, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.Senha)
            </div>
            
            <div class="field">
                @Html.LabelFor(u => u.ConfirmacaoSenha)
                @Html.PasswordFor(u => u.ConfirmacaoSenha, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.ConfirmacaoSenha)
            </div>
           
              <input type="submit" class="ui button" value="Cadastrar" />
    }
</div>